<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">

  <Identity Name="27bcca05-7059-4fcd-aa0b-cf9878c34685"
            Publisher="CN=Farhan_Ghumra"
            Version="1.0.0.0" />

  <Properties>
    <DisplayName>WinRT.TextboxPrintHelper.Testapp</DisplayName>
    <PublisherDisplayName>Farhan_Ghumra</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
        Executable="$targetnametoken$.exe"
        EntryPoint="WinRT.TextboxPrintHelper.Testapp.App">
        <VisualElements
            DisplayName="WinRT.TextboxPrintHelper.Testapp"
            Logo="Assets\Logo.png"
            SmallLogo="Assets\SmallLogo.png"
            Description="WinRT.TextboxPrintHelper.Testapp"
            ForegroundText="light"
            BackgroundColor="#464646">
            <DefaultTile ShowName="allLogos" />
            <SplashScreen Image="Assets\SplashScreen.png" />
        </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>